**/saved_models/*
**/outputGraphs/*

**.mid
**.pickle
**.pyc
**/__pycache__/*

*.zip
*.mp3
*.mp4
*.wav
*.mid
*.pickle
*.pkl
*.sf2
*.tsv
*.pth
*.tar
*.gz

video_conditioning/**.zip
video_conditioning/**.mp3
video_conditioning/**.mp4
video_conditioning/**.wav
video_conditioning/**.mid
video_conditioning/**.pickle
video_conditioning/**.pkl
video_conditioning/**.sf2
video_conditioning/**.tsv
video_conditioning/**.pth
video_conditioning/**.tar
video_conditioning/**.gz

video_conditioning/**/*.zip
video_conditioning/**/*.mp3
video_conditioning/**/*.mp4
video_conditioning/**/*.wav
video_conditioning/**/*.mid
video_conditioning/**/*.pickle
video_conditioning/**/*.pkl
video_conditioning/**/*.sf2
video_conditioning/**/*.tsv
video_conditioning/**/*.pth
video_conditioning/**/*.tar
video_conditioning/**/*.gz